.alto-pestagna {
    height: 250px;
}

.scaled {
    transform: scale(0.7);
}
.oferta {
    background-color: rgb(250, 226, 76);
}

.text-center {
    text-align: center;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-height {
    height: 590px;
    margin-bottom: 200px;
}

.input-width {
    width: 100px;
}

.precio-comentado {
    color: grey;
}